.holdingBags {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px; 
  padding: 0px 20px;
  justify-content: center;
}

.holdingBags .item {
  flex: 1 1 calc(50% - 20px); 
  max-width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 500px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.holdingBags .item .top-details {
  display: flex;
  justify-content: space-between;
  align-items: start;
  z-index: 1;
}

.holdingBags .item .top-details .name {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
  max-width: 280px;
}

.holdingBags .item .top-details .visit {
  width: 32px;
  height: 32px;
  object-fit: contain;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holdingBags .item .top-details img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.holdingBags .item .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .holdingBags .item {
    flex: 1 1 100%; 
    max-width: 100%;
    height: 350px;
  }

  .holdingBags {
    justify-content: flex-start; 
  }

  .holdingBags .item .top-details .name {
    font-size: 1.2rem; 
  }
}

@media (max-width: 480px) {
  .holdingBags .item {
    height: 280px; 
  }

  .holdingBags .item .top-details .name {
    font-size: 1rem; 
  }
}
